/** biome-ignore-all lint/suspicious/noDuplicateCustomProperties: Ignore */
@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";
@import "./styles/themes.css";

@source "../node_modules/heroui-native/lib";
